.toolBarIcon {
  width: 30px;
  height: 30px;
  padding: 0;
  // margin: 0px 5px;
  /* fill: white; */
}

#toolBarBox {
  display: flex;
  align-items: center;
  height: 70px;
  width: 80%;

  #toolBarName {
    font-size: 1.2em;
    background-color: rgb(236, 219, 64);
    border-radius: 25px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px #888888;
    div {
      text-overflow: ellipsis;
      width: 80%;
      overflow: hidden;
      height: 28px;
      white-space: nowrap;
      text-align: center;
      display: none;
    }
    input {
      font-family: "Noto Sans TC", "Nerko One", cursive, sans-serif;
      width: 80%;
      height: 28px;
      background-color: rgb(236, 219, 64);
      outline: none;
      border: none;
      font-size: 1.2rem;
      // display: none;
    }
  }
  // background-color: gray;
  div {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
  }
  .toolBarIconBox {
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 3px 3px #888888;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .red {
    background-color: rgb(245, 91, 91);
    // fill: white;
  }
  .orange {
    background-color: #f39237;
  }
  .green {
    background-color: rgb(134, 197, 134);
    padding-left: 5px;
  }
  .blue {
    background-color: rgb(134, 161, 197);
  }
  .selectAll {
    width: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #shareBox {
    font-size: 1.4rem;
    background-color: #bf1363;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px #888888;
    color: #ffffff;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

#boardColor {
  margin-right: 50px;
}
