#container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* #backGround {
  background-color: darkgray;
  width: 800px;
  height: 600px;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  user-select: none;
  will-change: transform;
  position: relative;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#rightside {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#top_bar {
  width: 100%;
  height: 54px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #f4f4f4;
}
#canvas_area {
  overflow: hidden;
}
