@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&display=swap");
#profilePage {
  //  z-index: 10;
  border: 30px solid transparent;
  border-image: url(/Img/back2.svg) 10 stretch;
  font-family: "Nerko One", "Noto Sans TC", cursive, sans-serif;
  // height: 100vh;
  box-sizing: border-box;
}
.hidden {
  background-color: #5c5c5c;
  opacity: 0.8;
}
#profileP {
  width: 300px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 70px;
}
#profilePic {
  // background-image: url(./Img/user.png);
  width: 140px;
  height: 140px;
  margin: 10px;
  border-radius: 70px;
}
#profileEmail {
  font-size: 2.2em;
}
#profileBoards {
  width: 80%;
  margin: auto;
}
.profileTag {
  font-size: 1.2em;
  display: inline;
  margin: 10px;
  // position: relative;
  padding-left: 4px;
  padding-right: 4px;
  // padding: 0.3em 1em 0;
  text-decoration: none;
  color: black;
  // position: relative;
  // margin: 0 -0.3em;
}

// .profileTag::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: -1;
//   background: #ccc;
//   background-image: linear-gradient(
//     hsla(0, 0%, 100%, 0.6),
//     hsla(0, 0%, 100%, 0)
//   );
//   border: 0.11em solid rgba(0, 0, 0, 0.4);
//   border-bottom: none;
//   border-radius: 0.5em 0.5em 0 0;
//   box-shadow: 0 0.15em white inset;
//   transform: scale(1.1, 1.3) perspective(0.5em) rotateX(5deg);
//   transform-origin: bottom;
// }

// .selected {
//   z-index: 2;
// }

// .selected::before {
//   background: white;
//   margin-bottom: -0.08em;
// }
#boards {
  /* border-width: 2px;
  border-style: solid; */
  height: max-content;
  // display: flex;
  // justify-content: center;
  // padding: 15px;
  margin-top: 15px;
  min-height: calc(100vh - 355px);
  // border: 0.1em solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  margin-bottom: 2em;

  #boardsContain {
    display: flex;
    flex-wrap: wrap;
    // grid-auto-columns: 252px;
    // grid-auto-flow: column;
    // grid-gap: 12px;
    // width: 1056px;
    padding-right: 5px;
    padding-left: 5px;
    height: max-content;
    justify-content: center;
    // width: max-content;
    // justify-content: space-around;
  }
  #boardsRead {
    display: none;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
    height: max-content;
    justify-content: center;
  }
}

.boardCreate {
  border: #000000 1px dashed;

  width: 250px;
  height: 250px;
  // background-color: burlywood;
  border-radius: 20px;
  margin: 10px;

  .addIconBox {
    position: relative;
    height: 100%;
    width: 100%;
    .addIcon {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 75px;
      top: 50px;
      background-size: cover;
    }
    div {
      display: flex;
      justify-content: center;
      top: 170px;
      width: 100%;
      position: absolute;
      font-size: 1.7em;
    }
  }
  .InputNameBox {
    height: 100%;
    width: 100%;
    display: none;
    .inputTop {
      box-sizing: border-box;
      display: flex;
      // justify-content: space-around;
      flex-direction: column;
      align-items: center;
      height: 200px;
      position: relative;
      .cancelIcon {
        height: 20px;
        width: 20px;
        right: 10px;
        top: 15px;
        position: absolute;
      }

      input {
        margin-top: 20px;
        font-size: 1.2em;
        width: 80%;
        height: 2em;
        padding-left: 7px;
      }
      .inputName {
        margin-top: 40px;
        text-align: center;
        font-size: 1.7em;
        width: 90%;
      }
    }

    .inputBottom {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7em;
      background-color: black;
      color: whitesmoke;
      font-weight: bold;
      border-radius: 0px 0px 20px 20px;
    }
  }
}
.AddBoardBox {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  border: #000000 1px solid;
  .hide {
    display: none;
  }

  .AddBoardPic {
    height: 200px;
    background-image: url(./Img/boardPic.png);
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 10px;
    padding-top: 15px;
    box-sizing: border-box;
    flex-direction: column;

    .AddBoardLIconBox {
      z-index: 4;
      background-image: url(./Img/list.svg);
      background-size: cover;
      width: 30px;
      height: 30px;
      margin-right: 3px;
    }
    .AddBoardLIconBox:hover {
      background-image: url(./Img/list_red.svg);
      cursor: pointer;
    }

    .AddBoardList {
      // height: 80px;
      // display: none;
      // width: 120px;
      // border: #000000 1px solid;
      position: relative;
      box-sizing: border-box;
      margin-top: 8px;
      color: whitesmoke;
      border-radius: 3px;
      background-color: black;
      ul {
        font-size: 1.5em;
        list-style: none;
        padding: 5px;
        margin: 0;
      }
    }
    .AddBoardList::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      border-width: 10px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #000000;
      border-left-color: transparent;
      right: 0%;
      top: -20px;
      margin-right: 2px;

      // background-color: violet;
    }
  }
  .AddBoardName {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
  }
}
#ProfileBtnBox {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  #tagBox,
  #profileFuncBox {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    // margin-right: 10px;
    div {
      display: flex;
      width: 250px;
      height: 100px;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
      // height: 50px;
      // border-radius: 25px;
      // background-color: black;
      // color: aliceblue;
      // text-align: center;
      // align-items: center;
      font-size: 1.4em;
      // // padding: 5px;
      // justify-content: center;
      // // font-weight: bolder;
      // margin: 5px;
      // box-shadow: 3px 3px #888888;
    }
  }
  #profileFuncBox {
    width: 400px;
  }
}
.profileFa {
  width: 252px;
  margin: 12px;
}

.drawLine {
  fill: none;
  stroke-width: 12;
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
  @keyframes letterDraw {
    to {
      stroke-dashoffset: 0;
    }
  }
  .drawCircle {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
  }
  .drawCircle {
    // animation: letterDraw 1s linear forwards;
    width: 200px;
    height: 200px;
  }
}
.drawCompo {
  width: 400px;
  height: 170px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  // object-fit: cover;
}

// .profileTag::after {
//   content: ""; /*讓after顯示出來*/
//   border-bottom: 2px solid #1c36d0;
//   margin: auto; /*使線段從中間展開*/
//   position: relative /*調整位置*/;
//   width: 0%;
//   display: block; /*變成一個區塊才hover的到*/
//   transition: all 0.3s;
//   top: 5px;
// }
// .profileTag:hover::after {
//   /*hover要先寫*/
//   width: 100%; /*讓線段長出*/
// }
@keyframes letterDraw {
  to {
    stroke-dashoffset: 0;
  }
}
.drawBox:hover .drawCircle {
  animation: letterDraw 0.5s linear forwards;
}
.drawn .drawCircle {
  stroke-dashoffset: 0;
}
.drawBox:hover {
  cursor: pointer;
}
