@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&display=swap");
#profilePage {
  //  z-index: 10;
  border: 30px solid transparent;
  border-image: url(/Img/back2.svg) 10 stretch;
  font-family: "Nerko One", "Noto Sans TC", cursive, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  display: flex;
  padding-top: 110px;
  padding-right: 1.5%;
  padding-left: 3%;
  justify-content: space-between;
  overflow: hidden;
  @media (max-width: 425px) {
    border-width: 10px;
    font-size: 12px;
    // padding-top: 110px;
  }
  // align-items: center;
}
.hidden {
  background-color: #5c5c5c;
  opacity: 0.8;
}
#profileP {
  width: 320px;
  height: 180px;
  box-sizing: border-box;
  display: flex;
  // margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
}
#profilePic {
  // background-image: url(./Img/user.png);
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50px;
}
#profileEmail {
  margin-bottom: 10px;
  font-size: 2rem;
}
#profileMessage {
  font-size: 2rem;
  padding-left: 10px;
}
#profileBoards {
  // width: 80%;
  margin: auto;
}
.profileTag {
  font-size: 1.2rem;
  display: inline;
  margin: 0px;
  // position: relative;
  padding-left: 4px;
  padding-right: 4px;
  // padding: 0.3em 1em 0;
  text-decoration: none;
  color: black;
  // position: relative;
  // margin: 0 -0.3em;
}

// .profileTag::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: -1;
//   background: #ccc;
//   background-image: linear-gradient(
//     hsla(0, 0%, 100%, 0.6),
//     hsla(0, 0%, 100%, 0)
//   );
//   border: 0.11em solid rgba(0, 0, 0, 0.4);
//   border-bottom: none;
//   border-radius: 0.5em 0.5em 0 0;
//   box-shadow: 0 0.15em white inset;
//   transform: scale(1.1, 1.3) perspective(0.5em) rotateX(5deg);
//   transform-origin: bottom;
// }

// .selected {
//   z-index: 2;
// }

// .selected::before {
//   background: white;
//   margin-bottom: -0.08em;
// }
#boards {
  /* border-width: 2px;
  border-style: solid; */
  height: max-content;
  // display: flex;
  // justify-content: center;
  // padding: 15px;
  margin-top: 15px;
  min-height: calc(100vh - 355px);
  // border: 0.1em solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  margin-bottom: 2em;

  #boardsRead,
  #boardsObserved {
    display: none;
    flex-wrap: wrap;
    font-size: 5em;
    // grid-auto-columns: 252px;
    // grid-auto-flow: column;
    // grid-gap: 12px;
    // width: 1056px;
    // padding-right: 5px;
    // padding-left: 5px;
    height: max-content;
    justify-content: center;
    // width: max-content;
    // justify-content: space-around;
    @media (max-width: 425px) {
      font-size: 2.5em;
    }
  }
  #boardsContain {
    display: flex;
    flex-wrap: wrap;
    // grid-auto-columns: 252px;
    // grid-auto-flow: column;
    // grid-gap: 12px;
    // width: 1056px;
    // padding-right: 5px;
    // padding-left: 5px;
    height: max-content;
    justify-content: center;
    // width: max-content;
    // justify-content: space-around;
    @media (max-width: 425px) {
      font-size: 1em;
    }
  }
}
#flexEnd {
  justify-content: flex-end;
}
.boardCreate {
  border: #000000 1px dashed;

  width: 250px;
  height: 250px;
  // background-color: burlywood;
  border-radius: 20px;
  margin: 12px;
  &:hover .addIcon,
  &:hover #beforeAdd {
    cursor: pointer;
    fill: red;
    color: red;
  }
  @media (max-width: 425px) {
    width: 150px;
    height: 150px;
    margin: 6px;
  }
  .addIconBox {
    position: relative;
    height: 100%;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
    .addIcon {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 75px;
      top: 50px;
      background-size: cover;
      @media (max-width: 425px) {
        width: 60px;
        height: 60px;
        left: 45px;
        top: 45px;
      }
    }
    div {
      display: flex;
      justify-content: center;
      top: 170px;
      width: 100%;
      position: absolute;
      font-size: 1.7em;
      @media (max-width: 425px) {
        top: 115px;
        font-size: 1.3em;
      }
    }
  }
  .InputNameBox {
    height: 100%;
    width: 100%;
    display: none;
    .inputTop {
      box-sizing: border-box;
      display: flex;
      // justify-content: space-around;
      flex-direction: column;
      align-items: center;
      height: 200px;
      position: relative;
      @media (max-width: 425px) {
        height: 120px;
      }
      .cancelIcon {
        height: 20px;
        width: 20px;
        right: 10px;
        top: 15px;
        position: absolute;
      }

      input {
        margin-top: 20px;
        font-size: 1.2em;
        width: 80%;
        height: 2em;
        padding-left: 7px;
      }
      .inputName {
        margin-top: 40px;
        text-align: center;
        font-size: 1.7em;
        width: 90%;
        @media (max-width: 425px) {
          font-size: 1.3em;
        }
      }
    }

    .inputBottom {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7em;
      background-color: black;
      color: whitesmoke;
      font-weight: bold;
      border-radius: 0px 0px 20px 20px;
      @media (max-width: 425px) {
        font-size: 1.3em;
        height: 30px;
      }
    }
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes slide-in-bck-tl {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
    transform: translateZ(700px) translateY(-300px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.AddBoardBox {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  border: #000000 1px solid;
  @media (max-width: 425px) {
    width: 150px;
    height: 150px;
    margin: 6px;
  }
  // animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  &:hover {
    cursor: pointer;
    animation: wobble-hor-top 0.8s both;
  }
  .hide {
    display: none;
  }

  .AddBoardPic {
    height: 200px;
    // background-image: url(./Img/boardPic.png);
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 10px;
    padding-top: 15px;
    box-sizing: border-box;
    flex-direction: column;

    .AddBoardLIconBox {
      z-index: 4;
      background-image: url(./Img/list.svg);
      background-size: cover;
      width: 30px;
      height: 30px;
      margin-right: 3px;
    }
    .AddBoardLIconBox:hover {
      background-image: url(./Img/list_red.svg);
      cursor: pointer;
    }

    .AddBoardList {
      // height: 80px;
      // display: none;
      // width: 120px;
      // border: #000000 1px solid;
      position: relative;
      box-sizing: border-box;
      margin-top: 8px;
      color: whitesmoke;
      border-radius: 3px;
      background-color: black;
      ul {
        font-size: 1.5rem;
        list-style: none;
        padding: 5px;
        margin: 0;
        li {
          &:hover {
            color: red;
          }
        }
      }
    }
    .AddBoardList::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      border-width: 10px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #000000;
      border-left-color: transparent;
      right: 0%;
      top: -20px;
      margin-right: 2px;

      // background-color: violet;
    }
  }
  .AddBoardName {
    div {
      text-overflow: ellipsis;
      width: 90%;
      overflow: hidden;
      height: 30px;
      white-space: nowrap;
      text-align: center;
    }
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
    @media (max-width: 425px) {
      font-size: 1.2rem;
      width: 150px;
      height: 150px;
      height: 30px;
    }
  }
}
#ProfileBtnBox {
  // width: 80%;
  margin: 0px auto 0px auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  align-items: center;
  @media (min-width: 1500px) {
    margin-bottom: 80%;
  }

  #tagBox,
  #profileFuncBox {
    display: flex;
    flex-direction: column;
    // width: 90%;
    justify-content: center;
    // margin-right: 10px;
    div {
      display: flex;
      width: 250px;
      height: 110px;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      // padding: 30px 0px 30px 0px;
      // margin-left: 50px;
      // margin-right: 50px;
      // height: 50px;
      // border-radius: 25px;
      // background-color: black;
      // color: aliceblue;
      // text-align: center;
      // align-items: center;
      font-size: 1.4em;
      // // padding: 5px;
      // justify-content: center;
      // // font-weight: bolder;
      // margin: 5px;
      // box-shadow: 3px 3px #888888;
    }
    .profileTag {
      padding: 0px;
    }
  }
  #profileFuncBox {
    width: 400px;
  }
}
.profileFa {
  width: 252px;
  margin: 12px;
  @media (max-width: 425px) {
    width: 152px;
    margin: 6px;
  }
}

.drawLine {
  fill: none;
  stroke-width: 2;
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
  @keyframes letterDraw {
    to {
      stroke-dashoffset: 0;
    }
  }
  .drawCircle {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
  }
  .drawCircle {
    // animation: letterDraw 1s linear forwards;
    width: 200px;
    height: 200px;
  }
}
.drawCompo {
  width: 300px;
  height: 180px;
  position: absolute;
  margin-top: 15px;
  margin-left: 0px;
  // object-fit: cover;
}

// .profileTag::after {
//   content: ""; /*讓after顯示出來*/
//   border-bottom: 2px solid #1c36d0;
//   margin: auto; /*使線段從中間展開*/
//   position: relative /*調整位置*/;
//   width: 0%;
//   display: block; /*變成一個區塊才hover的到*/
//   transition: all 0.3s;
//   top: 5px;
// }
// .profileTag:hover::after {
//   /*hover要先寫*/
//   width: 100%; /*讓線段長出*/
// }
@keyframes letterDraw {
  to {
    stroke-dashoffset: 0;
  }
}
.drawBox:hover .profileTag {
  // animation: letterDraw 0.8s linear forwards;
  color: red;
}
.drawn .drawCircle {
  animation: letterDraw 0.8s linear forwards;
}
.drawBox:hover {
  cursor: pointer;
}

#profileRight {
  overflow-y: scroll;
  padding-left: 3%;
}
#profileLeft {
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 425px) {
    display: none;
  }
}
#proverb {
  // margin: auto;
  font-size: 2rem;
  // text-align: center;
  width: 756px;
  padding-left: 10px;
}
.scale-out-horizontal {
  animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}
@keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
}
.slide-in-blurred-tl {
  animation: slide-in-blurred-tl 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@keyframes slide-in-blurred-tl {
  0% {
    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
#profileCancelBox {
  z-index: 10;
  background-color: white;
  #cancelOutShare {
    width: 40px;
    height: 40px;
    fill: black;
    margin: 10px;
    position: absolute;
    right: 0px;
    padding-right: 20px;
    // margin-right: -10px;
  }
}
#shareBoxOuter {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
#profileShareBox {
  width: 100%;
  /* height: 607px; */
  /* border-color: black;
  border-width: 1px;
  border-style: solid; */
  box-sizing: content-box;
  margin: auto;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 24px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  position: relative;
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-height: 400px;
  width: 900px;
  // overflow: visible;
  @media (max-width: 920px) {
    width: 100%;
  }
  #shareInputBox {
    margin: 50px 30px 30px 0px;
    display: flex;
    width: 100%;
    .shareWayBox {
      width: 50%;
      padding: 10px;
      font-size: 1.5rem;
      font-family: "Nerko One", "Noto Sans TC", cursive, sans-serif;
      .h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        @media (max-width: 920px) {
          font-size: 2rem;
        }
      }
      .h2,
      .h3 {
        @media (max-width: 920px) {
          font-size: 1rem;
          // display: none;
        }
      }
      .shareImg {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        @media (max-width: 920px) {
          height: 150px;
        }
      }
      .shareBtnBox {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
      .shareInput {
        width: 300px;
        height: 50px;
        border-radius: 25px 0px 0px 25px;
        padding-left: 20px;
        box-sizing: border-box;
        font-size: 1.1rem;
        color: white;
        background-color: black;
        font-family: "Noto Sans TC", "Nerko One", cursive, sans-serif;
        outline: none;
        @media (max-width: 920px) {
          width: 250px;
          font-size: 0.8rem;
        }
      }
      .shareBtn {
        width: 20%;
        height: 50px;
        font-size: 1.1rem;
        font-family: "Noto Sans TC", "Nerko One", cursive, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        border: black 1px solid;
        box-sizing: border-box;
        border-radius: 0px 25px 25px 0px;
        @media (max-width: 920px) {
          font-size: 0.8rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.mobileOption {
  display: none;
  @media (max-width: 425px) {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    // height: 30px;
    justify-content: center;
    // font-size: 1rem;
    .profileTag {
      padding: 0px;
      font-size: 16px;
      &:hover {
        color: red;
        cursor: pointer;
      }
      @media (max-width: 375px) {
        font-size: 14px;
      }
      @media (max-width: 320px) {
        font-size: 12px;
      }
    }
    .selected {
      color: red;
    }
    span {
      margin: 0px 1% 0px 1%;
      // font-size: 4px;
    }
  }
}

#profilePage {
  .topNavBox {
    height: 100px;
  }
}

#deleteConfirm {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  font-family: "Nerko One", "Noto Sans TC", cursive, sans-serif;
  #profileDeleteBox {
    box-sizing: content-box;
    margin: auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 24px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    min-height: 200px;
    width: 400px;
    @media (max-width: 920px) {
      width: 100%;
    }
  }
  #cancelOutShare {
    width: 30px;
    height: 30px;
  }
  .deleteH1 {
    font-size: 1.4rem;
    margin-top: 60px;
  }
  .deleteChosen {
    display: flex;
    justify-content: center;
    // margin-top: 20px;
    div {
      font-size: 2.3rem;
      display: flex;
      width: 120px;
      height: 50px;
      border-radius: 25px;
      background-color: black;
      color: aliceblue;
      text-align: center;
      align-items: center;
      // font-size: 2em;
      // padding: 5px;
      justify-content: center;
      // font-weight: bolder;
      margin: 30px;
      &:hover {
        background-color: red;
      }
    }
  }
}

#NewNameConfirm {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  font-family: "Nerko One", "Noto Sans TC", cursive, sans-serif;
  #profileNewnameBox {
    box-sizing: content-box;
    margin: auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 24px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    min-height: 250px;
    width: 400px;
    @media (max-width: 920px) {
      width: 100%;
    }
  }
  #cancelOutShare {
    width: 30px;
    height: 30px;
  }
  .deleteH1 {
    font-size: 1.6rem;
    margin-top: 60px;
  }
  input {
    margin-top: 20px;
    width: 70%;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .deleteChosen {
    display: flex;
    justify-content: center;
    // margin-top: 20px;
    div {
      font-size: 2rem;
      display: flex;
      width: 120px;
      height: 50px;
      border-radius: 25px;
      background-color: black;
      color: aliceblue;
      text-align: center;
      align-items: center;
      // font-size: 2em;
      // padding: 5px;
      justify-content: center;
      // font-weight: bolder;
      margin: 30px;
      &:hover {
        background-color: red;
      }
    }
  }
}
.newNameCheck {
  box-sizing: border-box;
  padding-left: 10px;
  display: none;
  text-align: left;
  width: 70%;
  position: relative;
  background-color: orange;
  border-radius: 8px;
  margin: 5px auto 0px auto;
  small {
    font-size: 1.1rem;
  }
  small::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: orange;
    border-left-color: transparent;
    left: 5%;
    top: -20px;
    margin-right: 2px;

    // background-color: violet;
  }
}
#newNameCheckUp {
  width: 85%;
}
